    {% extends 'base.html' %}
    {% load static %}

  {% block meta %}
      <title>Story 1- Arllivandhya Dani</title>
  {% endblock meta %}



{% block content %}
    <h1>Profile</h1>
    <p><img src="{% static 'img/the_only_good_photo_of_me.jpg' %}" alt="big think" width="240 px"></p>
    <p>Nama: Arllivandhya Dani <br>
        NPM: 1906398521<br>
        Angkatan: Maung 2019<br>
        Tempat kuliah: Fasilkom UI<br>
        Hobi: Game nfs di ps2<br>
    </p>
    <p>Mahasiswa semester 3 di Fakultas Ilmu Komputer Universitas Indonesia yang terobsesi dengan segala sesuatu
        mengenai otomotif</p>
    <table style="table-layout: fixed; width: 368px">
        <tr>
            <td>SMP</td>
            <td>SMP Budi Mulia Bogor</td>
        </tr>
        <tr>
            <td>SMA</td>
            <td>SMA Negeri 1 Bogor</td>
        </tr>
        <tr>
            <td>Pendidikan tinggi</td>
            <td>Universitas Indonesia</td>
        </tr>
    </table>
    <p><a href="https://www.twitter.com/benjibeki">
        <img src="{% static 'img/twt.png' %}" alt="twitter icon" width="36 px">
    </a></p>
{% endblock content %}